<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data from Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Data from API:</h1>
    <hr>
    <div class="widget" id="widget">
        <!-- <div class="match-div">
            <div class="home team grid-center">
               <div> <img id="home-team-image" src="https://crests.football-data.org/62.png" alt=""> </div>
                <span id="home-team-name">Everton</span>
            </div>
            <div class="scores flex">
                <h5>1</h5>
                <h5 class="vs">:</h5>
                <h5>0</h5>
            </div>
            <div class="away team grid-center">
                <img id="away-team-image" src="https://crests.football-data.org/65.png" alt=""><span id="away-team-name">Man City</span>
            </div>
        </div> -->
    </div>  

    <script src="{{ url_for('static', filename='external.js') }}"></script>
</body>
</html>
